{% extends '@App/layout.html.twig' %}

{% block body %}
    <h1>{{ product.title }}</h1>
    <hr>
    Title: {{ product.title }} <br>
    Price: {{ product.price }}  <br>
    Category: {{ product.category.name }}<br>
    Description: {{ product.description }} <br>
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block title %}Product {{ product.id }}{% endblock %}